/** EMOJI FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

/** TAILWIND */
@import 'tailwindcss';

/* -- RESET -- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    @apply min-w-0;
    margin: 0;
    text-decoration-skip-ink: auto;
}

*:focus,
*:hover {
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    outline: none;
}

/* Smoothing scrolling */
html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: calc(1em + 0.5em);
}

body,
#root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    /** Apply
    * -webkit-font-smoothing: antialiased;
    * -moz-osx-font-smoothing: grayscale;
    */
    @apply antialiased;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}

button {
    appearance: none;
}

/* Setting cursor defaults on action elements */
a,
button,
[role='link'],
[role='button'] {
    cursor: pointer;
}
[aria-disabled='true'],
:disabled {
    cursor: not-allowed;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Remove built-in form typography styles. */
input,
button,
textarea,
select {
    font: inherit;
}

fieldset {
    padding: 0;
    margin: 0;
}

/* Improve media defaults. */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Create a root stacking context */
#root {
    isolation: isolate;
}

/* 
*  Remove all animations and transitions for 
*  people who prefer not to see them.
*/
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* -- END OF RESET -- */

/* -- GLOBALS -- */
html,
body {
    overflow: hidden;
    /* This is needed because the page cover bleed (100vw) will cause horizontal scrolling */
    /* To-do: use `:has` once it is ready for Firefox and lift these back to PageSheetView.module.css */
    overflow-x: clip;
}

body {
    /** To-do: use default font and text styles when defined */
    /* @apply font-sans text-ui-base text-base; */
}

button,
input,
option,
table,
tr,
th,
td,
thead,
tbody,
tfoot,
caption,
col,
colgroup,
select,
object,
embed,
iframe,
textarea {
    /** To-do: use default font when defined */
    /* @apply font-sans; */
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
/** END OF GLOBALS */
